<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css'/>

    <style>

        #inner-dropzone {
            position: static;
            left: 150px;
            top: 150px;
            height: 500px;
            width: 600px;
        }
        .dropzone {
            background-color: #ccc;
            border: dashed 4px transparent;
            border-radius: 4px;
            margin: 10px auto 30px;
            padding: 10px;
            width: 80%;
            transition: background-color 0.3s;
        }
        .drop-active {
            border-color: #aaa;
        }

        .drop-target {
            background-color: #29e;
            border-color: #fff;
            border-style: solid;
        }

        .drag-drop {
            display: inline-block;
            min-width: 40px;
            padding: 2em 0.5em;

            color: #fff;
            background-color: #29e;
            border: solid 2px #fff;

            -webkit-transform: translate(0px, 0px);
            transform: translate(0px, 0px);

            transition: background-color 0.3s;
        }

        .drag-drop.can-drop {
            color: #000;
            background-color: #4e4;
        }

    </style>


    <script src="../interact.js"></script>
    <script type="text/javascript">
        var podstaw ='';
        // target elements with the "draggable" class
        interact('.draggable')
                .draggable({
                    // enable inertial throwing
                    inertia: true,
                    // keep the element within the area of it's parent
                    restrict: {
                        restriction: "parent",
                        endOnly: true,
                        elementRect: { top: 0, left: 0, bottom: 1, right: 1 }
                    },
                    // enable autoScroll
                    autoScroll: true,

                    // call this function on every dragmove event
                    onmove: dragMoveListener
                    // call this function on every dragend event



                });


        function dragMoveListener (event) {
            var target = event.target,
            // keep the dragged position in the data-x/data-y attributes
                    x = (parseFloat(target.getAttribute('data-x')) || 0) + event.dx,
                    y = (parseFloat(target.getAttribute('data-y')) || 0) + event.dy;

            // translate the element
            target.style.webkitTransform =
                    target.style.transform =
                            'translate(' + x + 'px, ' + y + 'px)';

            // update the posiion attributes
            target.setAttribute('data-x', x);
            target.setAttribute('data-y', y);
           //alert(event.pageX + ' ' +  event.pageY);

            //alert(event.clientX);
            document.Show.MouseXC.value = event.clientX;
            document.Show.MouseX.value = event.pageX;


            document.Show.MouseY.value = event.pageY;

        }

        // this is used later in the resizing and gesture demos
        window.dragMoveListener = dragMoveListener;


        /* The dragging code for '.draggable' from the demo above
         * applies to this demo as well so it doesn't have to be repeated. */

        // enable draggables to be dropped into this
        interact('.dropzone').dropzone({
            // only accept elements matching this CSS selector
            //accept: '#yes-drop',
            // Require a 100% element overlap for a drop to be possible
            overlap: 1,

            // listen for drop related events:

            ondropactivate: function (event) {
                // add active dropzone feedback
                event.target.classList.add('drop-active');
            },
            ondragenter: function (event) {
                var draggableElement = event.relatedTarget,
                        dropzoneElement = event.target;

                // feedback the possibility of a drop
                dropzoneElement.classList.add('drop-target');
                draggableElement.classList.add('can-drop');
                //draggableElement.textContent = 'Dragged in';
            },
            ondragleave: function (event) {
                // remove the drop feedback style
                event.target.classList.remove('drop-target');
                event.relatedTarget.classList.remove('can-drop');
                //event.relatedTarget.textContent = 'Dragged out';
            },
            ondrop: function (event) {
                //alert(event.relatedTarget.value);

                //pobranie parametrów URL, posX, posY i value
                document.Show.URL.value = event.relatedTarget.name + ',';

                //alert(document.Show.MouseX.value + " " + document.Show.MouseY.value);
                document.Show.MouseX2.value = document.Show.MouseX.value + ',';
                document.Show.MouseY2.value = document.Show.MouseY.value + ',';

                podstaw += document.Show.URL.value +  document.Show.MouseX2.value  + document.Show.MouseY2.value  + event.relatedTarget.value + ',';

                document.odb.xd.value = podstaw;

            },
            ondropdeactivate: function (event) {
                // remove active dropzone feedback
                event.target.classList.remove('drop-active');
                event.target.classList.remove('drop-target');
            }
        });

    </script>


<script type="text/javascript">

    function checkTime(i) {
        if (i < 10) {
            i = "0" + i;
        }
        return i;
    }
    function startTime()
    {
        var today = new Date();
        var h = today.getHours();
        var m = today.getMinutes();
        var s = today.getSeconds();

        m = checkTime(m);
        s = checkTime(s);

        //document.getElementById('czas').innerHTML= today;
        document.getElementById('czas').value = h +':' + m + ':'+ s;
        setTimeout('startTime()', 500);


    }


</script>


</head>
<body onload="startTime()">
<% include template/header.ejs %>
<h1><%= title %></h1>
<p>Welcome to <%= title %></p>



<div id="inner-dropzone"  class="dropzone"></div>

<% if(spr != '') { %>
<% for(var i =0; i<dl; i++) { %>

<img id="<%= i %>" name="<%= spr[i] %>" src="/uploads/<%= spr[i] %>" width="150" height="150" class ="draggable"  >
<% }  %>

<% }  %>
<br>
<input id="czas" name="czas" type="text" value="" class ="draggable">
<input name="tekst" value="" class ="draggable"> <br>





<form name="Show">
    <input type="text" name="MouseX" value="" size="4" hidden > <br>
    <input type="text" name="MouseXC" value="" size="4" hidden > <br>
    <input type="text" name="MouseY" value="" size="4" hidden > <br>
    <input type="text" name="MouseX2" value="" size="4" hidden > <br>
    <input type="text" name="MouseY2" value="" size="4" hidden > <br>
    <input type="text" name="value" value="" size="4" hidden > <br>
    <input type="text" name="URL" value="" size="4" hidden >


</form>

<form name="odb" method="get" action="/ekran" style="position: absolute; left: 50px; top: 200px">


    <input type="text" name="xd" value=""  hidden>
    <input type="submit" value="Upload">
</form>





</body>
</html>
