<!DOCTYPE html>
<html>
<head>
  <title><%= title %></title>
  <link rel='stylesheet' href='/stylesheets/style.css' />
</head>
<body>

<% include template/header.ejs %>

<h1><%= title %></h1>
<p>Welcome to <%= title %></p>
</body>
</html>
