<!DOCTYPE html>
<html>
<head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
</head>
<body>

    <% include template/header.ejs %>

    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>

    <form id        =  "uploadForm"
          enctype   =  "multipart/form-data"
          action    =  "/wstaw"
          method    =  "post"
          
    >
        <input type="file" name="tak" />
        <input type="submit" value="Upload" name="submit">
    </form>

</body>
</html>