<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css'/>
    <style>
        #inner-dropzone {
            position: static;
            left: 730px;
            top: 225px;
            height: 500px;
            width: 600px;
        }
        .dropzone {
            background-color: #ccc;
            border: dashed 4px transparent;
            border-radius: 4px;
            margin: 10px auto 30px;
            padding: 10px;
            width: 80%;
            transition: background-color 0.3s;
        }
    </style>
    <script type="text/javascript">

        function checkTime(i) {
            if (i < 10) {
                i = "0" + i;
            }
            return i;
        }
        function startTime()
        {
            var today = new Date();
            var h = today.getHours();
            var m = today.getMinutes();
            var s = today.getSeconds();

            m = checkTime(m);
            s = checkTime(s);

            //document.getElementById('czas').innerHTML= today;
            document.getElementById('czas').value = h +':' + m + ':'+ s;
            if(  document.getElementById('czas1') == null)
            {
                setTimeout('startTime()', 1000);
                setTimeout("document.location.reload(true);", 1000);

            } else
            {
                document.getElementById('czas1').value =   document.getElementById('czas').value;
                setTimeout('startTime()', 1000);
                setTimeout("document.location.reload(true);", 1000);
            }
        }

    </script>

</head>

<body   onload="startTime()">

<% include template/header.ejs %>
<h1><%= title %></h1>
<p>Welcome to <%= title %></p>

<div id="inner-dropzone"  class="dropzone"></div>


<input id="czas" name="czas" type="text" value="" hidden>

<% for(var i =0; i<odczytDL-1; i+=4) { %>

    <% if(odczyt[i]== 'tekst') { %>
        <input name="<%= odczyt[i] %>" value="<%= odczyt[i+3] %>" style="position: absolute; left:  <%= odczyt[i+1] + 'px' %>; top: <%= odczyt[i+2] + 'px' %>" >
        <% } else if(odczyt[i]== 'czas') { odczyt[i+3] = odczyt[i+3].replace(/%3A/gi, ':');  %>
                    <input id="czas1" name="czas1" value="" style="position: absolute; left:  <%= odczyt[i+1] + 'px' %>; top: <%= odczyt[i+2] + 'px' %>" >
                <% } else {%>
                        <img  name="<%= odczyt[i] %>" src="/uploads/<%= odczyt[i] %>" value="<%= odczyt[i+3] %>" width="150" height="150" style="position: absolute; left:  <%= odczyt[i+1] + 'px' %>; top: <%= odczyt[i+2] + 'px' %>"  >
<% }  %>
<% }  %>

</body>

</html>